.jumbotron {
  background-color: #d6b149;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #a12330;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-servicios {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
