$yellow: #a8a861;
$red: #c21a2b;
$green: #5cad43;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: $yellow;
    color: $green;
    @include margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $red;
    @include margenes(10px,0px)
    
}
.card-servicios{
  
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    padding-top: 10px;
}
