.jumbotron {
  background-color: #a8a861;
  color: #5cad43;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #c21a2b;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-servicios {
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px; }
